body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    background: url('imagens/background.jpg');
}

.container{
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    top:10vh;
    left: 25%;
    height: 600px;
    width: 1000px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}
.informativo{
    box-sizing: border-box;
    float: left;
    height: 600px;
    width: 400px;
    background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.1));
    border-radius:15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
}
.titulo-informativo{
    font-size: 18px;
    text-align: center;
    margin: 40px;
    padding:20px;
}
.texto p{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
}
.login{
    box-sizing: border-box;
    float: left;
    height: 600px;
    width: 598px;
}
.titulo{
    text-align: center;
    font-size: 36px;
    background: -webkit-linear-gradient(rgb(42, 19, 51), rgb(255, 1, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.user input{
    margin: 10px 25%;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border:none;
    text-align: center;
    background: rgba(255,255,255,0.6) ;
    outline:none;
}
.user label{
    margin: 5px 25%;
    font-size: 16px;
    font-weight: bold;
}
.password input{
    margin: 20px 25%;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border:none;
    text-align: center;
    background: rgba(255,255,255,0.6) ;
    outline:none;
}
.password label{
    margin: 5px 25%;
    font-size: 16px;
    font-weight: bold;
}
.remember input{
    margin: 0 5px 0 25% ;
}
.remember input:hover{
    cursor:pointer;
}
.remember label{
    font-size: 16px;
    font-weight: bold;
}
.button{
    margin: 10px 40%;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    width: 100px;
    background: linear-gradient(rgb(89, 35, 110), rgb(214, 46, 164));
}
.button a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}
.button a:hover{
    color:black;
    font-weight: bold;
}
.creat-cont{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    
}
.creat-cont a{
    background: -webkit-linear-gradient(rgb(42, 19, 51), rgb(255, 1, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
